@using EntityLayer.Concrete
@model List<WriterMessage>

@{
    ViewData["Title"] = "ReceiverMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{
    string color = "";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Inbox</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Sender</th>
                            <th>Details</th>
                            <th>Date</th>
                         

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                       @*      if (item.Status == "video")
                            {
                                color = "badge badge-danger";
                            }
                            else if (item.Status == "article")
                            {
                                color = "badge badge-warning";
                            }
                            else if (item.Status == "bootcamp")
                            {
                                color = "badge badge-info";
                            } *@
                            <tr>
                                <th>@item.WriterMessageID</th>
                                <td>@item.Subject</td>
                                <td>@item.SenderName</td>
                                <td>@item.Content</td>
                                <td>@item.Date</td>
                    
                               @*  <td><label class="@color">@item.Status</label></td> *@
                                <td><a href="/Writer/Default/AnnouncementDetails/@item.WriterMessageID" class="btn btn-outline-primary">Details</a></td>


                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>