@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Send Message</h1>




<form class="form-group" method ="post">

        @Html.Label("Receiver Mail")
        @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })


        @Html.Label("Subject")
        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
 

        @Html.Label("Message")
        @Html.TextBoxFor(x => x.Content, new { @class = "form-control" })


    <button type="submit" class="btn btn-primary mr-2">Send Message</button>
    <button class="btn btn-dark">Cancel</button>
</form>