@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post))
{
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Experience Adding Page </h4>
            <form class="forms-sample">
                <div class="form-group">
                        @Html.Label("Name")
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                        @Html.Label("Date")
                        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                </div>
                <div class="form-group">
                        @Html.Label("ImageUrl")
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                </div>
                    <div class="form-group">
                        @Html.Label("Description")
                        @Html.TextAreaFor(x => x.Description, 6, 3, new { @class = "form-control" })
                    </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>

}
<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>