@model EntityLayer.Concrete.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



<!-- Card header -->
<div class="card-header border-0">
    <h3 class="mb-0">About Editing Page</h3>
</div>
<br />
<br />




@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Experience Editing Page </h4>
                <form class="forms-sample">
                    @Html.HiddenFor(x => x.AboutID)
                    <div class="form-group">
                        @Html.Label("Title")
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Description")
                        @Html.TextAreaFor(x => x.Description, 10, 2, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Age")
                        @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Mail")
                        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Phone")
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Address")
                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("ImageUrl")
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Update</button>
         
                </form>
            </div>
        </div>
    </div>

}
<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>
