@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<!-- Card header -->
<div class="card-header border-0">
    <h3 class="mb-0">Skill Editing Page</h3>
</div>
<br />
<br />


@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.SkillID)

    @Html.Label("Title")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Value")
    @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
    <br />
    <br />
    <button class="btn btn-success">SAVE</button>
}
